<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="myMybatis.dao.UserMapper">
    <select id="selectOneUser" resultType="myMybatis.entity.User">
        select * from user where username = ?
    </select>
    <select id="selectOneUserByUsernameAndAge" resultType="myMybatis.entity.User">
        select * from user where username = ? and age = ?
    </select>
    <select id="selectAllByAge" resultType="myMybatis.entity.User">
        select * from user where age = ?
    </select>
    <update id="updateUserById" resultType="java.lang.Integer">
        update user set username = ? , age= ? where id = ?
    </update>
    <insert id="insertUser" resultType="java.lang.Integer">
        insert into user values(null,?,?)
    </insert>
    <delete id="deleteUserById" resultType="java.lang.Integer">
        delete from user where id = ?
    </delete>
</mapper>

